@model IEnumerable<Project_Web_db.Models.Bus_schedule>


<div class="container">
    <div class="row">
        
        <form asp-controller="Ticket_personnel" asp-action="Create_Bus_busschedule" method="Post">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            รอบที่
                        </th>
                        <th>
                            หมายเลขรถ
                        </th>
                        <th>
                            เวลา
                        </th>
                    </tr>
               
                    <tbody id="row">
                            
                    </tbody>
            </table>
            <input type="hidden" id="count" name="count" value="0" />
            <button type="submit" class="btn btn-primary" >OK</button>
        </form>

        <button type="button" name="button" onclick="onAddClick()">ADD</button>

    </div>
</div>

<script>
    window.onload = function ()
    {
        onAddClick();

    }
      function onAddClick()
      {
        var c = document.getElementById('count');
        var r = document.getElementById('row');

        var index = +c.value;

        var tr = '<tr>\
                                <td>'+ (index + 1) +'</td>\
                                <td>\
                                    <select name="bus_number['+ index + ']" id="bus_number[' + index +']">\
                                        <option value="1">1</option>\
                                        <option value="2">2</option>\
                                        <option value="3">3</option>\
                                        <option value="4">4</option>\
                                        <option value="5">5</option>\
                                        <option value="6">6</option>\
                                        <option value="7">7</option>\
                                        <option value="8">8</option>\
                                        <option value="9">9</option>\
                                        <option value="10">10</option>\
                                    </select>\
                                </td>\
                                <td>\
                                    <select name="time['+ index + ']" id="time[' + index +']">\
                                        <option value="5.00">5.00</option>\
                                        <option value="5.15">5.15</option>\
                                        <option value="5.30">5.30</option>\
                                        <option value="5.45">5.45</option>\
                                        <option value="6.00">6.00</option>\
                                        <option value="6.15">6.15</option>\
                                        <option value="6.30">6.30</option>\
                                        <option value="6.45">6.45</option>\
                                        <option value="7.00">7.00</option>\
                                        <option value="7.15">7.15</option>\
                                        <option value="7.30">7.30</option>\
                                        <option value="7.45">7.45</option>\
                                        <option value="8.00">8.00</option>\
                                        <option value="8.15">8.15</option>\
                                        <option value="8.30">8.30</option>\
                                        <option value="8.45">8.45</option>\
                                        <option value="9.00">9.00</option>\
                                        <option value="9.15">9.15</option>\
                                        <option value="9.30">9.30</option>\
                                        <option value="9.45">9.45</option>\
                                        <option value="10.00">10.00</option>\
                                        <option value="10.15">10.15</option>\
                                        <option value="10.30">10.30</option>\
                                        <option value="10.45">10.45</option>\
                                        <option value="11.00">11.00</option>\
                                        <option value="11.15">11.15</option>\
                                        <option value="11.30">11.30</option>\
                                        <option value="11.45">11.45</option>\
                                        <option value="12.00">12.00</option>\
                                        <option value="12.15">12.15</option>\
                                        <option value="12.30">12.30</option>\
                                        <option value="12.45">12.45</option>\
                                        <option value="13.00">13.00</option>\
                                        <option value="13.15">13.15</option>\
                                        <option value="13.30">13.30</option>\
                                        <option value="13.45">13.45</option>\
                                        <option value="14.00">14.00</option>\
                                        <option value="14.15">14.15</option>\
                                        <option value="14.30">14.30</option>\
                                        <option value="14.45">14.45</option>\
                                        <option value="15.00">15.00</option>\
                                        <option value="15.15">15.15</option>\
                                        <option value="15.30">15.30</option>\
                                        <option value="15.45">15.45</option>\
                                        <option value="16.00">16.00</option>\
                                        <option value="16.15">16.15</option>\
                                        <option value="16.30">16.30</option>\
                                        <option value="16.45">16.45</option>\
                                        <option value="17.00">17.00</option>\
                                        <option value="17.15">17.15</option>\
                                        <option value="17.30">17.30</option>\
                                        <option value="17.45">17.45</option>\
                                        <option value="18.00">18.00</option>\
                                        <option value="18.15">18.15</option>\
                                        <option value="18.30">18.30</option>\
                                        <option value="18.45">18.45</option>\
                                        <option value="19.00">19.00</option>\
                                        <option value="19.15">19.15</option>\
                                        <option value="19.30">19.30</option>\
                                        <option value="19.45">19.45</option>\
                                        <option value="20.00">20.00</option>\
                                        <option value="20.15">20.15</option>\
                                        <option value="20.30">20.30</option>\
                                    </select>\
                                </td>\
                            </tr>';

        r.innerHTML += tr;
        c.value = index + 1;
      }
</script>

    